{
  "singleQuote": true,
  "semi": true,
  "bracketSameLine": false,
  "printWidth": 150,
  "overrides": [
    {
      "files": ["*.ts"],
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": ["*.json"],
      "options": {
        "parser": "json"
      }
    }
  ]
}
